*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
 }

html, body{
    height: 100%;
 }

body{
font-family: 'Poppins', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
/*overflow-x: hidden;*/
overflow: hidden;
background: #110000;
 }

a{
    text-decoration: none;
    cursor: pointer;
  }

p{
    line-height: 1.5em;
    letter-spacing: 1.5px;
}

.view{
    height: 100%;
    position: relative;
    background: url('../img/backg.jpg');
    background-size: cover;
    background-position: center center;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(40deg, rgba(0,0,0,.4), rgba(0,0,0,.9));
    background: -o-linear-gradient(40deg, rgba(0,0,0,.4), rgba(0,0,0,.9));
    background: linear-gradient(130deg, rgba(0,0,0,.4), rgba(0,0,0,.9));

    background: -webkit-radial-gradient(top,rgba(0,0,0,0.5) 0%,rgba(0,0,0,.9) 80%);
    background: radial-gradient(at top,rgba(0,0,0,0.5) 0%,rgba(0,0,0,.9) 80%);
}

.content-view {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    padding: 7vh 0;
  }

.sections,
.sections ul,
.sections ul li {
  height: 100%;
}

.sections {
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sections ul {
    width: 100%;
  }

  .sections ul li {
    width: 25%;
    cursor: pointer;
    position: relative;
    float: left;
    overflow: hidden;
    left: auto !important;
    border-left: 1px solid rgba(255,255,255,.1);
    transition: .6s;
    opacity: 0;
  }

  .sections ul li.showUp {
    transform: translate3d(0, -400px, 0);
  }
  .sections ul li.showDown {
    transform: translate3d(0,400px, 0);
  }
  .sections ul li.showUp.run,
  .sections ul li.showDown.run {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .sections ul li.hide-img {
    background: #000;
    transition: none;
  }
  .sections ul li.hide-img .section-content {
    opacity: 0;
  }

  .sections ul li .imgbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  
    transform: scale3d(1.1,1.1,1.1);
    opacity: 0;
    transition: .6s;
  }

  .sections ul li.showUp {
    transform: translate3d(0, -400px, 0);
  }
  .sections ul li.showDown {
    transform: translate3d(0,400px, 0);
  }
  .sections ul li.showUp.run,
  .sections ul li.showDown.run {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  
  
  
  .sections ul li.hide-img {
    background: #000;
    transition: none;
  }
  .sections ul li.hide-img .section-content {
    opacity: 0;
  }
  
  
  .sections ul li .imgbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  
    transform: scale3d(1.1,1.1,1.1);
    opacity: 0;
    transition: .6s;
  }
  
  .sections ul li:hover {
    /*background: #000;*/
    z-index: 2;
  }
  .sections ul li:hover .imgbg,
  .sections ul li.run:hover .imgbg {
    transition: .6s 0s;
    transform: scale3d(1,1,1);
    opacity: .6;
    opacity: 1;
  }
  .sections ul li:hover .section-content h3 {
    transform: scale3d(1,1,1);
  }
  .sections ul li:hover .section-content p {
    transform: translateY(-20px) scale3d(1,1,1);
  }
  
  
  .sections ul li.fullscreen {
    width: auto;
    position: fixed;
    left: auto;
  }
  
  
  .about-bg {
    background-image: url('../img/still-life.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .competence-bg {
    background-image: url('../img/fashion.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .projet-bg {
    background-image: url('../img/beauty.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .experience-bg {
    background-image: url('../img/portraits.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .sections .section-content-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  background: -webkit-linear-gradient(52deg, rgba(0,0,0,0) 10%, rgba(0,0,0,.8));
  background: -o-linear-gradient(52deg, rgba(0,0,0,0) 10%, rgba(0,0,0,.8));
  background: linear-gradient(142deg, rgba(0,0,0,0) 10%, rgba(0,0,0,.8));
}

.section-content {
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 40px;
  bottom: 4vh;
  left: 0;
  text-align: center;
}

.section-content h3 {
  margin-bottom: 15px;
  font-weight: 900;
}

.section-content p {
  font-size: 100px;
  font-size: 7vw;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: -6px;
  opacity: .1;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: #fff19e;
}


.sections .section-content h3 {
  transform: scale3d(.65,.65,.65);
  transition: .4s;
}
.sections .section-content p {
  transform: translateY(-20px) scale3d(.4,.4,.4);
  transition: .4s;
}



.left {
  height: 100%;
  position: relative;
}

.contact {
  position: absolute;
  left: 150px;
  left: 10vw;
  bottom: 60px;
  bottom: 5vh;
  z-index: 1;
  transition: .6s;
}
.contact.active {
  /*transform: translate3d(0, 200px, 0);*/
  transform: translate3d(0, 23vh, 0);
}


h1 {
  font-size: 36px;
  font-size: 2.5vw;
  color: #fff;
  font-weight: 400;
  margin-bottom: 6px;
}
h2 {
  font-size: 16px;
  font-size: 1.1vw;
  color: #c4bc8d;
  font-weight: 400;
}
h3 {
  font-size: 32px;
  font-size: 2.4vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.run-contact a {
  font-size: 44px;
  font-size: 3vw;
  font-weight: 900;
  color: #c4bc8d;
}
.btn-border {
  position: relative;
  padding: 16px 22px;
}
.btn-border span {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom: 1px solid #c4bc8d;
  border-left: 1px solid #c4bc8d;
  transform: rotate(-45deg);
  opacity: 1;
  transition: .6s;
}
.btn-border .arrowtop {
  margin-bottom: 8px;
}

.contact.active span {
  opacity: 0;
}


.social {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.social a {
  opacity: .5;
  margin-bottom: 12px;
  margin-bottom: 1vh;
  transition: .4s;
}
.social a:hover {
  opacity: 1;
}

.btn-round {
  width: 35px;
  height: 35px;
  line-height: 35px;
  width: 2.5vw;
  height: 2.5vw;
  line-height: 2.5vw;
  display: block;
  background: #c4bc8d;
  border-radius: 100%;
  text-align: center;
}

.icons {
  width: 25px;
  height: 25px;
  width: 2vw;
  height: 2vw;
  margin-top: 4px;
  margin-top: .5vh;
  display: inline-block;
  background: url('../img/icons-dark.png') no-repeat;
  background-size: auto 100%;
}
.ic-insta {
  background-position: -25px 0;
  background-position: -1.95vw 0;
}
.ic-linkedin {
  background-position: -50px 0;
  background-position: -3.9vw 0;
}
.ic-home {
  background-position: -75px 0;
  background-position: -6vw 0;
}




.section-view {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
  /*transition: .6s;*/
}
.section-view.active {
  height: 100%;
  overflow: auto;
  opacity: 1;
  pointer-events: auto;
}
.section-view.active.leave {
  transition: .6s .6s;
  opacity: 0;
  pointer-events: none;
  /*transform: translate3d(0,400px,0);*/
}


.current-section {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.current-section .imgbg {
  height: 100%;
  background-attachment: scroll;
  background-position: center;
  position: relative;
  transition: .6s ease-in-out;
}

.current-section.run .imgbg {
  opacity: 1;
}
.current-section .section-content {
  display: none;
}

.radial-effect {
  width: 100%;
  opacity: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: -webkit-radial-gradient(top,rgba(28,28,28,0.5) 0%,rgba(28,28,28,1) 80%);
  background: radial-gradient(at top,rgba(28,28,28,0.5) 0%,rgba(28,28,28,1) 80%);
  transition: .4s;
}
.radial-effect.active {
  opacity: 1;
}


.content-page {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 160px auto 0;
  opacity: 0;
  transform: translate3d(0,400px,0);
  transition: .6s .6s;
}
.content-page.run {
  opacity: 1;
  transform: translate3d(0,0,0);
}
.cat-content {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}
.cat-content.run {
  opacity: 1;
  display: block;
}

.content-page.leave {
  opacity: 0;
  transition: .6s;
  transform: translate3d(0,400px,0);
}

.close-content {
  position: absolute;
  right: 150px;
  opacity: 0;
  pointer-events: none;
  z-index: 13;
  transition: .6s 1s;
}
.close-content.active {
  opacity: 1;
  pointer-events: auto;
}
.close-content.leave {
  opacity: 0;
  pointer-events: none;
  transition: .6s 0s;
}


.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: #000;
  padding: 21px 10px 16px 16px;
  padding: 1.5vw 1.3vh 1vw 2vh;
  letter-spacing: 18px;
  text-align: center;
  color: #c4bc8d;
  font-size: 14px;
  font-size: 1vw;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.25);
}
.btn .icons {
  position: relative;
  background-position: -75px 0;
  background-position: -6vw 0;
  float: left;
  margin: -5px 15px 0 0;
  margin: -.4vw 1vw 0 0;
}

.close-content button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #3a3a3a;
  padding: 16px 10px 16px 22px;
  letter-spacing: 18px;
  text-align: center;
  color: #c4bc8d;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.25);
}

.left-view {
  /*width: 100%;*/
  z-index: 12;
  /*position: absolute;*/
  /*pointer-events: none;*/
  /*top: 0;*/
  /*max-width: 1200px;*/
  /*margin: 60px auto 0;*/
}

.logo {
  position: absolute;
  left: 150px;
  left: 10vw;
}

.global {
  height: 100%;
  transform: translate3d(0,0,0);
  transition: .6s;
}
.global.active {
  transform: translate3d(0,-100%,0);
}



.view-contact {
  height: 100%;
  position: relative;
  background: #141619;
}

.content-contact {
  width: 100%;
  max-width: 980px;
  max-width: 68vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


input {
  border: 0;
}

::placeholder {
    color: #6a6f7d;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #6a6f7d;
}

::-ms-input-placeholder {
    color: #6a6f7d;
}

.inpt,
textarea.inpt {
  width: 100%;
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-size: 1vw;
  padding: 16px;
  padding: 1.1vw;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background: #26292d;
  outline: none;
}
.inpt:focus {
  border: 1px solid #c4bc8c;
}

.line-form {
  padding-bottom: 12px;
  padding-bottom: 1.3vh;
  overflow: hidden;
}

.txt-center {
  text-align: center;
}

.form50 {
  width: 50%;
  float: left;
}
.line-form .form50:first-child {
  padding-right: 6px;
}
.line-form .form50:last-child {
  padding-left: 6px;
}


.footer-contact {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  background: #000;
}

.elem-footer {
  width: 33.3%;
  float: left;
  text-align: center;
}
.title-footer {
  font-size: 1vw;
  color: #c4bc8c;
  line-height: 1.5em;
  margin-bottom: 5px;
}
.txt-footer {
  font-size: 1.3vw;
  color: #fff;
  line-height: 1.5em;
}


.form-btn {
  margin-top: 40px;
  margin-top: 5vh;
}
.form-btn .btn {
  letter-spacing: 7px;
  padding: 16px 22px;
  padding: 1.35vw 2.95vh;
}


textarea.inpt {
  width: 100%;
  min-height: 160px;
  min-height: 20vh;
}

.view-close-contact {
  text-align: right;
  top: -90px;
  position: relative;
}


.fullscreen-img.active {
  pointer-events: auto;
  opacity: 1;
}
.fullscreen-img {
  opacity: 0;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.94);
  transition: .6s;
}


.fullscreen-img .content-img {
  width: 100%;
  height: 100%;
  padding: 60px;
  text-align: center;
}
.fullscreen-img .content-img img {
  max-width: 100%;
  max-height: 100%;
}

.close-fullscreen {
  width: 45px;
  height: 45px;
  line-height: 45px;
  width: 3vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  font-size: 30px;
  font-size: 2vw;
  background: #000;
  color: #000;
  background: #c4bc8d;
  font-weight: 900;
  border: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}

/* ABOUT */


/* COMPETENCES */

#education .heading h2{
    color: #d82c2e;
}
.education-block{
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;

}
.education-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .fas{
    font-size: 35px;
}
.education-block h3{
     color: #c4bc8d;
}
.education-block h4{
   margin-bottom: 20px;
}
.education-block p{
  font-weight: bold;
}
.education-block .red-divider{
    margin-bottom: 20px;
}

/* SKILL BARS */
.skill-bars{
    padding: 25px 30px;
    
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #c4bc8d;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }

  /* PROJET */
  .pro-content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 80%;
    margin: 0 auto 30px auto;
  }
  
  .pro-img {
    height: 330px;
    width: 60%;
    background-color: #fff;
  }
  
  .pro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: center;
  }

  /* EXPERIENCE */
ul{
    list-style: none;
}
#experience .heading h2{
    color: #fff;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #c4bc8d;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: rgba(0,0,0, 0.5);
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid rgba(0,0,0, 0.5);
    border-right: 0 solid rgba(0,0,0, 0.5);
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
     color: #c4bc8d;
}